$black: #111;
$white: #FFFFFF;
$lightgrey: #f2f2f2;
$orange: #FFA500;
$brown: #A52A2A;
$formBackgroud:  #f1f1f6;
// $formBackgroud:  #e1f1f6;
$darkgrey: #616161;
$lightgreen: #4CAF50;
$lightgreenHover: #45a049;
$form-border: solid 1px #ccd;
$font: "Raleway", sans-serif;
$pink: rgb(255, 0, 255);
$margins: 1rem;
$note-box-size: 8rem;
$colors: red, orange, yellow, green, blue, cyan;
$icons:  », ✰, ☀, ≈, ❅, ☜;
